body{
  margin:0px;
    padding:0px;
    font-family: Arial, sans-serif;
    
}
/* ----------------------------------------- */
/* header css */

.header{
    width:100%;
    height:140px;
    background-color:whitesmoke; 
    /* border:1px solid black; */
    display: flex;
    flex-direction:column;
    position: fixed;
    z-index: 999;
    
}
/* ---------------------------------------- */
/* head, mail,p1,map,logo */
.head1{
    margin:0px;
    display:grid;
    padding-top:20px;
    grid-template-columns:300px 400px 100%;    
}

.mail{
    width:300px;
    height:20px;
    display:flex;
    flex-direction: row;
    padding-left:100px;      
}
 
.map{
    width:300px;
    height:20px;
    display:flex;
    flex-direction: row;
}
.logo{
    display: grid;
    grid-template-columns:20px 20px 20px 20px;
    padding-left:600px;
    column-gap: 25px;    
}
.i2{    
    border-radius: 50%;
    font-size:30px;
}
/* ----------------------------------------- */

/* secmain h1,nav,a,A:HOVER */
.secmain{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;   
}

h1{
    font-size:35px;
     padding-left: 100px;;    
}

.nav{
    width:800px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left: 150px;
}
a{
    font-size: 25px;
    display:flex;
    margin:10px;
    text-decoration: none;
}
a:hover{
    border:0.5 solid black;
    color:red;
}

/* ---------------------------------------- */
/* INPUT,IL,I10, */
.input{
  
    display:inline-flex;
    padding-top: 15px;
}
.i1{
    font-size:25px;
    border:2px solid black;
    height:40px;
    width:50px;
    text-align: center;
    padding-top: 10px;
    background-color: red;
    color:white;
    border-radius: 50%;    
    position:absolute;   
}
.i10{
   
    font-size:20px;
     height:40px;
    width:200px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;
    text-align: center;
    padding-top: 10px; 
    padding-left:30px;
    border:2px solid black;
    background-color: black;
    color:red;     
}
/* ------------------------------------------------- */
/* MAIN1,H3,P5 */
 .main1{
    width:100%;
    /* border:1px solid black; */
    background-image:url(../images/banner-01.jpg);
    background-size: cover;
    
    
 }
 h3{
        color:rgb(56, 50, 50);
        font-size:20px;
        text-align:center;
        background-color: rgb(215, 189, 189);
        display: inline-block;
        margin-top:260px;
        margin-left: 400px;             
  }

 .p5{
        color:white;
        font-size:20px;
        font-size:55px;
        text-align:center;
        display: flex;
        align-items: center;
        padding-bottom: 290px;
        padding-left: 370px;
        text-align: justify;     
 }
/* ------------------------------------------------- */
/* MAIN2 */
/* IMG1, IMAGE,TEXT,CARD */
 .main2{
    
    width:100%;
    height:700px;
    background-color:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* display:flex; */
    /* justify-content:center; */
    /* align-items: center; */
    overflow: hidden;    
 }
 
 .img1{
    Width:360px;
    height:600px;
    padding-left:150px;
    position:relative;
       
  
   
 }

 img{
    width:340px;
    height:500px;
 }

 .icon{    
    position:absolute;

    left:130px;
    top:450px;    
    
    
    border:1px solid red;
    background-color: red;
    color: white;
    border-width: 8px;
    border-radius: 50%;
    width:50px;
    height:50px;
    color:red;
    margin-right:20%;  
 }
 /* ------------------------------------------ */
 /* TEXT,TP0,TP1,TP2,TP3,TP9,B0, */
 .text1{
      Width:450px;
      height:400px; 
 }
 .tp0{
    font-size:15px;
    color:red;
    font-weight: bolder;
 }
 .tp1{  
    font-size:50px;
 }
 .tp2{
    color:red;
 }
  .b0{
    color:blue;
 }
 /* TP3 AND TP9 EMPTY */
 /* ------------------------------------------- */
/* CARD,CD2,CP0, ICON2,B1, */
 .card{
      background-color: rgb(245, 243, 243);
      Width:300px;
      height:480px; 
      display:grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      padding-top: 50px;
      padding-left: 30px;     
 }
 .icon2{
    width:50px;
    height:50px;   
 }
 .cp0{
    font-size: 20px;
    margin-left: 20px;
    padding-bottom: 40px;
    position: relative;
    bottom:20px;  
 }
.cd2{
    display:flex;
    margin-left: 5px;  
 }
 .b1{
    color:gray;
 }
 /* -----------------------------------------------*/

 .main3{
    border:1ps solid black;
    width:100%;
    height:600px;
    background-image: url("../images/video-bg.jpg");
    background-size: cover;
 }
 .m2text{
    color:white;
    padding-top:80px;
    text-align: center;
    font-size:40px;
    font-weight: bold;
    position:relative;
    top:40px;
    /* margin-bottom: 40px; */
 }
 .vit{
   font-size:20px;
   text-align: center;
   color:red;
   font-weight:bolder; 
   margin-top: 30px;  
   

 }

.vimg{
    padding-top:130px;
    padding-left:350px;
     
}
.vimg2{
   
    
    
     width:850px;
     height:400px;
     border-radius: 5px;
     
}
.micon{
    width:50px;
    height:50px;
    position:relative;
    left:400px;
    bottom:230px;
    
}
.m3{
    display:grid;
    grid-template-columns: 220px 220px 220px;
    column-gap: 100px;
    margin:10px;
    
    
    
    
}
.texta{
   
    height:60px;
    display:flex;
    justify-content: center;
    padding:10px;
    padding:10px; 
    margin-top: 15px;   
    align-items: center;
    column-gap: 10px;
    font-size:13px;
    background-color: rgb(239, 228, 207);
}
.textb{

     height:60px;
    display:flex;
    justify-content: center;
    padding:10px;
    margin-top: 15px;   
    align-items: center;
    column-gap: 10px;
    font-size:13px; 
    background-color: rgb(239, 228, 207);
}
.textc{
 height:60px;
    display:flex;
    justify-content: center;
    padding:10px;
    margin-top: 15px;   
    align-items: center;
    column-gap: 10px;
    font-size:13px; 
    background-color:  rgb(239, 228, 207);
}
.m3h5{
    font-size:35px;
    color:red
}
.border{
    border:1px solid red;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position:absolute;
    right:930px;
   
    
}
.border1{
    border:1px solid red;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position:absolute;
   right:600px;
}
.border2{
    border:1px solid red;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(220, 10, 10);
    position:absolute;
     right:280px;
}
/* -------------------------------------------------- */
.main4{
   
  
}
.m4text{
    background-color: rgb(233, 229, 229);
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-left:100px;
    
}
.bp6{
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding-left: 200px;
}
.hp6{
    font-size:25px;
    font-weight: bold;
    padding-bottom: 30px;
    color:red;
    
     
}
.mm6{
    color:black;
}

.h51:hover{

    background-color: red;
}
.h51{
    font-size:19px;
    background-color: rgb(7, 6, 6);
    color:white;
    padding:10px;
    
}


.sec2{
    /* width:1000px; */
    background-color: rgb(233, 229, 229);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  
    
    
}
.m5tit{
    /* border:1px solid green; */
    width:300px;
    height: 350px;
    margin-top: 70px;
    margin-left: 80px;
   
    background-color:white;

}
.textd{
    display:flex;
    column-gap: 50px;
    font-size:20px;
    padding-left:30px;
    color:gray;
    
}
.texte{
     display:flex;
     column-gap: 100px;
     font-size:20px;
     padding-left:30px;
     color:gray;
     }
.textf{
     display:flex;
     column-gap: 80px;
     font-size:20px;
     padding-left:30px;
     color:gray;
     }
.textg{
     display:flex;
     column-gap: 60px;
     font-size:20px;
     padding-left:30px;
     color:gray;

}
.texth{
     display:flex;
     column-gap: 40px;
     font-size:20px;
     padding-left:30px;
     color:gray;
}
.m4img{
    margin-top:70px;
    margin-right: 40px;
}
.im5{
    
   width:600px;
   height:400px
   
}
.tz1{
     margin-top: 50px;
    
}
.p4{
    font-size:18px;
    color:gray
}

      
     
    
    




 .fot{
    border:1px solid green;
     Width:300px;
     

 }
 